/* Flexbox - Project - 3*/
*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    background-color: white;
    font-family: calibri, sans-serif;
    --h:10vh;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    max-width: 1350;
    /*height: 100vh;*/
    text-align: center;
}

.blog{
    display: flex;
    flex:1 0 auto;
    background-color: cyan;
    align-items: center;
    margin: 0.5%;
    justify-content: center; 
    height: 5vh;
    font-size:calc((var(--h) / 3));

}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo{
    background-color: whitesmoke;
    flex: 1 0 40%;
    margin: 15px;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phonemenu{
    width: 100%;
    display: flex;
    height: 12vh;
    flex-direction: column;
    align-items: flex-end;
    
}
.phone, .menu{
    background-color: whitesmoke;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.phone{
    flex: 1 0 auto;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
}
.menu{
    flex: 1 0 auto;
    width: 80%;
    margin-top: 15px;
}

.main-1{
    display: flex;
    width: 99.5%;
    margin: 0 auto;
    height: 25vh;
    flex-direction: row;
}
.main-2{
    display: flex;
    width: 99.5%;
    margin: 0 auto;
    /*height: 50vh;*/
    flex-direction: column;
}

.image-slideshow {
    display: flex;
    flex:1 0 auto;
    background-color: cyan;
    align-items: center;
    margin: 0.5%;
    justify-content: center; 
   /*height: 40vh;*/
    font-size:calc((var(--h) / 3));
}

.footer{
    display: flex;
    flex:1 0 auto;
    background-color: cyan;
    align-items: center;
    margin: 0.5%;
    justify-content: center; 
    height: 5vh;
    font-size:calc((var(--h) / 3));

}

.sidebar{
    display: flex;
    flex:1 0 39%;
    background-color: PINK;
    font-size:calc((var(--h) / 3));
    align-items: center;
    margin: 0.5%;
    justify-content: center;  
}
.text-content{
    display: flex;
    flex:1 0 59%;
    background-color: PINK;
    align-items: center;
    margin: 0.5%;
    justify-content: center;  
    font-size:calc((var(--h) / 3));
}
